<!--index.wxml-->
  <view class="search" bindtap="searchClick">
    <van-icon name="search" />
  </view>
  <view wx:for="{{array}}" wx:key="{{array.index}}">
    {{index}}: {{item.message}}
  </view>

  <view class='search_item' bindtap="detailClick">
    <view class='search_time'>2018-12-01</view>
    <view class='search_title'>标题</view>
    <view class='search_intro'>简介emmmmmmmmmmm</view>
    <view class='item_img'>
      <image src="../img/img1.jpg" class='search_img' mode='scaleToFill' />
    </view>
    <view class='search_dianzan'>
      <image src="../img/xiaoxi.png" class='dianzan' mode='widthFix'/>
      <view class='dianzan_text'>35</view>
      <image src="../img/dianzan_kuai.png" class='dianzan' mode='widthFix'/>
      <view class='dianzan_text'>6</view>
    </view>
  </view>

  <view class='search_item' bindtap="detailClick">
    <view class='search_time'>2018-12-01</view>
    <view class='search_title'>标题</view>
    <view class='search_intro'>简介emmmmmmmmmmm</view>
    <view class='item_img'>
      <image src="../img/img1.jpg" class='search_img' mode='scaleToFill' />
    </view>
    <view class='search_dianzan'>
      <image src="../img/xiaoxi.png" class='dianzan' mode='widthFix'/>
      <view class='dianzan_text'>35</view>
      <image src="../img/dianzan_kuai.png" class='dianzan' mode='widthFix'/>
      <view class='dianzan_text'>6</view>
    </view>
  </view>

  <wux-floating-button position="{{ position }}" theme="light" buttons="{{ buttons }}" bind:change="onChange" bind:click="onClick" bind:contact="onContact" bind:getuserinfo="onGotUserInfo" />


